{% extends "base.html" %}
{% load static %}
{% block content %}
    这里是购物车界面
    <div class="row featurette text-center">
        <div class="text-center">
            <h2 class="featurette-heading" style="color: #d2c039">支付功能暂未开启</h2>
            <img class="featurette-image img-responsive center-block"
                 src="{% static "images/1.jpg" %}"
            alt="Generic placeholder image" width="400" height="300">
            <h3 class="featurette-heading" style="color: #247d56">请添加该微信购买</h3>
        </div>
    </div>
{% endblock %}